* {
    font-family: 'Emilys Candy', cursive;  
    background-color: #F4D58D;
}

* {
    box-sizing: border-box;
}
.bubble_menu{
    text-align:center
  }
  
  .bubble_menu button {
    background-color: #3BCEAC;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    height: 150px;
    width: 150px;
    margin: 10px 10px;
    color: #000000;
    border-radius: 50%;
  }
  .button:hover {
    background-color: #000000; 
    color: #f2f2f2;
  }
            
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
            
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.dot {
    height: 150px;
    width: 150px;
    background-color: #3BCEAC;
    border-radius: 50%;
    display: inline-block;
  }

  .footer{
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }